@media (max-width: 1200px) and (min-width: 991.92px) {
    .home .tab-content .card-body {
        padding: 10px !important;
    }

    .home .tab-content .card-footer button {
        margin-bottom: 5px;
    }

    .analysis-progressbar-sample-list li {
        margin: 0 8px;
    }

    .chakra-content-list ul li {
        width: 44%;
    }

    .no-padding-lg {
        padding: 0 !important;
    }

    .right-panel {
        width: 260px;
    }

    .corndraft .dropdown-toggle::after {
        margin-left: 53% !important;
    }

    .main-sys-view-image {
        height: 80%;
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
}

@media (max-width: 992px) and (min-width: 575.92px) {
    .home .tab-content .card-body {
        padding: 10px !important;
    }

    .home .tab-content .card-footer button {
        margin-bottom: 5px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-brand {
        margin-left: 10px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute !important;
        float: none;
    }

    .sys-setting li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .sys-setting li p {
        width: auto;
        margin-bottom: 10px;
    }

    .progress-circle-mini {
        padding: 5px 0;
    }

    #morrisjs-donut {
        height: 200px !important;
    }

    .progress-circle-mini .morris-progressbar-mini {
        height: 120px !important;
        width: 100px !important;
        margin: 0 auto;
    }

    .analysis-content-header .logo i {
        font-size: 35px;
    }

    .analysis-content-header .heading h2 {
        font-size: 22px;
    }

    .analysis-content-right {
        /* text-align: left !important; */
    }

    .card-header.analysis-sample-header {
        padding: 10px;
    }

    .analysis-title {
        max-width: 100px;
    }

    .mid svg.circle-progress {
        height: 100px;
        width: 100px;
    }

    .analysis-sample .card-body {
        padding: 20px 15px;
    }

    .analysis-sample-body {
        justify-content: space-between;
    }

    .analysis-sample-body .left-icon span i {
        font-size: 24px;
    }

    .left-icon .male-icon i {
        font-size: 32px !important;
    }

    .analysis-progressbar-sample-list li {
        display: block;
        margin: 10px 0;
        position: relative;
    }

    .analysis-progressbar-sample-list {
        margin-top: 0;
    }

    .analysis-progressbar .analysis-sample-header {
        margin-top: 38px;
    }

    .analysis-progressbar .progress {
        margin-top: 38px;
    }

    .analysis-progressbar .right-icon {
        margin-top: 20px;
    }

    .analysis-progressbar .left-icon {
        margin-top: 30px;
    }

    .right-panel .card-header h4 {
        font-size: 14px;
    }

    .no-padding-md {
        padding: 0 !important;
    }

    .chakra-content-list ul li {
        width: 45%;
    }

    .chakra-content {
        padding-top: 39px;
    }

    label.lb-md-2 {
        width: 100% !important;
    }

    .corndraft .dropdown-toggle::after {
        margin-left: 53% !important;
    }
}
