
/*  ------------------- Base CSS --------------------*/

*{
	margin: 0;
	padding: 0;
	/*font-size: 16px;*/
	font-family: sans-serif;
}

h1,h2,h3,h4,h5{
	margin: 0 0 15px;
	font-weight: 700;
}

a:focus, input:focus, button:focus,textarea:focus{
    outline: none;
}

a:hover{
    text-decoration: none;
}

/*  ------------------- End of Base CSS --------------------*/


.home-title{
	margin: 60px 0;
}


.home-title h3{
	text-align: center; 
}

.home-title p {
    padding-top: 20px;
    font-size: 19px !important;
}

.recommendations h4{
	color: #0170C0;
	font-size: 25px;
}

.recommendations h5{
	color: #0CBB86;
	font-size: 20px;
	padding-top: 30px;
}

.recommendations p !important{
	padding-left: 25px;
    font-size: 17px;
}

ul.padding-left {
    padding-left: 60px;
}

ul.wtd {
    padding-left: 30px;
    font-size: 20px; 
}
li{
    font-size:17px;
}

